@model List<CapaObjetos.Objetos.clMovimiento>;

<div class="row align-items-center">
    <div class="col-md-8">
        <h3>Movimientos del empleado @ViewBag.Empleado</h3>
    </div>
    <div class="col-md-2 text-right">
        <a asp-controller="Empleado" asp-action="Index" class="btn btn-outline-primary w-100">Volver</a>
    </div>
    <div class="col-md-2 text-right">
        <button id="btnModalNuevo" class="btn btn-outline-primary w-100">Agregar Movimiento</button>
    </div>
</div>

<div class="container mt-4">
    <table id="movimientosTable" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th hidden>IdEmpleado</th>
                <th>Documento de Identidad</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Tipo Movimiento</th>
                <th>Monto</th>
                <th>Nuevo Saldo</th>
                <th>Usuario</th>
                <th>IP</th>
                <th>PostTime</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var mov in Model)
            {
                <tr>
                    <td hidden>@mov.IdEmpleado</td>
                    <td>@mov.ValorDocumentoIdentidad</td>
                    <td>@mov.Nombre</td>
                    <td>@mov.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@mov.TipoMovimiento</td>
                    <td>@mov.Monto</td>
                    <td>@mov.NuevoSaldo</td>
                    <td>@mov.Usuario</td>
                    <td>@mov.PostInIp</td>
                    <td>@mov.PostTime</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="contenedorNuevo">
</div>


<script>
    $(document).ready(function () {

        $('#movimientosTable').DataTable({
            paging: true,
            searching: true,
            info: true,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            },
            columnDefs: [
                { targets: [0], visible: false }
            ]
        });

        var empleado = '@ViewBag.Empleado';

        $.ajax({
            url: '@Url.Action("Insertar", "Movimiento")',
            type: 'GET',
            contentType: 'application/json',
            data: { Empleado: empleado },
            success: function (data) {
                $('#contenedorNuevo').html(data);
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error en la solicitud: ' + error,
                    confirmButtonText: 'OK'
                });
            }
        });


    });


</script>