@page
@{
    Layout = null;
}

<!-- Modal Nuevo Empleado Cuenta -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="modalNuevoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalNuevoLabel">Movimiento nuevo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formNuevo">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="cedula" class="col-form-label">Valor Documento Identidad:</label>
                        <input type="text" class="form-control" id="cedula" required readonly value="@ViewBag.Empleado.ValorDocumentoIdentidad">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" required readonly value="@ViewBag.Empleado.Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="saldoVacaciones" class="col-form-label">Saldo Vacaciones:</label>
                        <input type="text" class="form-control" id="saldoVacaciones" required readonly value="@ViewBag.Empleado.SaldoVacaciones">
                    </div>
                    <div class="mb-3">
                        <label for="tipoMovimiento" class="col-form-label">Tipo Movimiento:</label>
                        <select class="form-control" id="tipoMovimiento" name="tipoMovimiento" required>
                            <option value="">Seleccione un tipo de movimiento</option>
                            @foreach (var tipo in ViewBag.TiposMovimientos)
                            {
                                <option value="@tipo.Nombre">@tipo.Nombre - @tipo.TipoAccion</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="monto" class="col-form-label">Monto:</label>
                        <input type="number" class="form-control" id="monto" required >
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnNuevaCuenta" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#btnModalNuevo').on('click', function () {
            $('#tipoMovimiento').val('');
            $('#monto').val('');

            $('#modalNuevo').modal('show');
        });

        $('#formNuevo').on('submit', function (e) {
            e.preventDefault();

            var cedula = $('#cedula').val();
            var tipoMovimiento = $('#tipoMovimiento').val();
            var monto = $('#monto').val();

            var registro = {
                ValorDocumentoIdentidad: cedula,
                TipoMovimiento: tipoMovimiento,
                Monto: monto
            };

            $.ajax({
                url: '@Url.Action("Insertar", "Movimiento")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(registro),
                success: function (data) {
                    if (data == 0) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Éxito',
                            text: 'Registro insertado correctamente',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            $('#modalNuevo').modal('hide');
                            location.reload();
                        });
                    }

                    if (data == 50004) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Advertencia',
                            text: 'El valor de documento de identidad ya existe',
                            confirmButtonText: 'OK'
                        });
                    }

                    if (data == 50005) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Advertencia',
                            text: 'El nombre del empleado ya existe',
                            confirmButtonText: 'OK'
                        });
                    }

                    if (data == 50008) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Error en base de datos',
                            confirmButtonText: 'OK'
                        });
                    }

                    if (data < 0) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Error al insertar el registro',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error en la solicitud: ' + error,
                        confirmButtonText: 'OK'
                    });
                }
            });
        });

    });
</script>